
-- Adding system preference toggles to CMS table
alter table cms add column if not exists is_prayer_enabled boolean default true;
alter table cms add column if not exists is_maintenance_mode boolean default false;
alter table cms add column if not exists auto_verify_users boolean default false;

-- Adding church identity columns
alter table cms add column if not exists church_name text default 'Mahayahay Free Methodist Church';
alter table cms add column if not exists contact_email text default 'contact@mahayahay.com';
alter table cms add column if not exists contact_phone text;
alter table cms add column if not exists contact_address text;

